@model TrekSurfing.Web.Models.ProfileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewUser</title>
</head>
<body>
    <div>
        @Html.DisplayFor(model => model.UserName)
    </div>
    <div>
        @Html.DisplayFor(model => model.Email)
    </div>
    <div>
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    
                
                
                
       
    </table>
</body>
</html>
